<footer id="footer" class="hoc clear">
    <!-- ################################################################################################ -->
    <div class="one_quarter first">
        <h6 class="heading">Контактные данные</h6>
        <ul class="nospace btmspace-30 linklist contact">
            <li><i class="fa fa-map-marker"></i>
                <address>
                    г. Москва, Путевой проезд, д. 38А
                </address>
            </li>
            <li><i class="fa fa-phone"></i>+74991132595</li>
            <li><i class="fa fa-envelope-o"></i>biblio64@gmail.ru</li>
        </ul>
        <ul class="faico clear">
            <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
            <li><a class="faicon-odnoklassniki" href="#"><i class="fa fa-odnoklassniki"></i></a></li>
            <li><a class="faicon-telegram" href="#"><i class="fa fa-telegram"></i></a></li>
            <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
        </ul>
    </div>
    <div class="one_quarter">
        <h6 class="heading">Полезные ссылки</h6>
        <ul class="nospace linklist">
            <li><a href="#">Библиогород</a></li>
            <li><a href="#">ЛитРес</a></li>
            <li><a href="#">Каталог Библиотек Москвы</a></li>
            <li><a href="#">Национальная электронная детская библиотека</a></li>
            <li><a href="#">ИВИС</a></li>
        </ul>
    </div>
    <div class="one_quarter">
        <h6 class="heading">Об учреждении</h6>
        <ul class="nospace linklist">
            <li><a href="#">Краткая справка</a></li>
            <li><a href="#">Руководство</a></li>
            <li><a href="#">Структура</a></li>
            <li><a href="#">Партнёрам</a></li>
            <li><a href="#">Документы</a></li>
        </ul>
    </div>
    <!-- ################################################################################################ -->
</footer>