<nav id="mainav" class="hoc clear">
    <!-- ################################################################################################ -->
    <ul class="clear">
        <li class="active"><a th:href="@{/}">Главная</a></li>
        <li><a class="drop" th:href="@{/books/1}">Книги</a>
            <ul>
                <li th:each="genre: ${T(com.example.Library.entities.Book$Genre).values()}">
                    <a href="#" th:text="${genre}"></a></li>
            </ul>
        </li>
        <li><a class="drop" href="#">Авторы</a>
            <ul>
                <li><a href="#">А.С. Пушкин</a></li>
                <li><a href="#">Л.Н. Толстой</a></li>
                <li><a href="#">М.Ю. Лермонтов</a></li>
            </ul>
        </li>
        <li><a href="#">Популярное</a></li>
        <li><a href="#">Рецензии</a></li>
    </ul>
    <!-- ################################################################################################ -->
</nav>