<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Каталог книг</title>
  <th:block th:insert="fragments/head"></th:block>
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row1">
  <header th:replace="fragments/header"></header>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <nav th:replace="fragments/nav"></nav>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image:url('../images/demo/backgrounds/01.png');">
  <div id="breadcrumb" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <ul>
      <li><a href="#">Главная</a></li>
      <li><a href="#">Книги</a></li>
    </ul>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content"> 
      <!-- ################################################################################################ -->
      <div id="gallery">
        <figure>
          <header class="heading">Каталог книг</header>
          <ul class="nospace clear">
            <li class="one_quarter" th:each="book: ${books}">
              <a th:href="'/book/' + ${book.id}">
                <img th:src="'data:image/png;base64,' + ${imgUtil.getImgData(book.cover)}">
                <p th:text="${book.name}"></p>
                <p th:text="${book.author}"></p>
                <p th:text="${book.issueyear}"></p>
              </a>
            </li>
          </ul>
        </figure>
      </div>
      <!-- ################################################################################################ -->
      <!-- ################################################################################################ -->
      <nav class="pagination">
        <ul>
          <li th:if="${pageid != 1}"><a th:href="@{'/books/' + ${pageid-1}}">&laquo; Назад</a></li>
          <li th:if="${pageid != 1}"><a th:href="@{'/books/' + ${pageid-1}}" th:text="${pageid - 1}"></a></li>
          <li class="current"><strong th:text="${pageid}"></strong></li>
          <li th:if="${pageid < T(java.lang.Math).ceil(bookcount/9.0)}"><a th:href="@{'/books/' + ${pageid+1}}" th:text="${pageid + 1}"></a></li>
          <li th:if="${pageid < T(java.lang.Math).ceil(bookcount/9.0)}"><a th:href="@{'/books/' + ${pageid+1}}">Вперёд &raquo;</a></li>
        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4">
  <footer th:replace="fragments/footer"></footer>
</div>
<div th:replace="fragments/copyright"></div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script th:src="@{layout/scripts/jquery.min.js}"></script>
<script th:src="@{layout/scripts/jquery.backtotop.js}"></script>
<script th:src="@{layout/scripts/jquery.mobilemenu.js}"></script>
<script th:src="@{layout/scripts/library.js}"></script>
</body>
</html>