<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Библиотека №64</title>
  <th:block th:insert="fragments/head"></th:block>
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row1">
  <header th:replace="fragments/header"></header>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <nav th:replace="fragments/nav"></nav>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay"
     style="background-image: url('/images/home/building.png');">
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <article>
      <div>
        <p class="heading">Путёвая библиотека</p>
        <h2 class="heading">Библиотека №64</h2>
        <p>Путевой проезд, д. 38А</p>
      </div>
    </article>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <article class="group">
      <div class="group btmspace-80">
        <div class="one_quarter first">
          <h6 class="heading">О библиотеке</h6>
        </div>
        <div class="three_quarter">
          <p>Библиотека основана в 1969 в Тимирязевском районе Москвы на
            Путевом проезде, д. 38А. Она начала свою работу с 1977, со дня
            постройки этого дома. Поскольку архивных документов и фотографий
            не сохранилось, первый адрес библиотеки неизвестен.</p>
          <p class="btmspace-30">В 1977 Библиотека №206 вошла в состав ЦБС
            Тимирязевского района г. Москвы, в 1992–2013 находилась в
            структуре ЦБС №1 СВАО г. Москвы (специализация — борьба с
            негативными явлениями в молодежной среде)&hellip;</p>
          <footer><a class="btn" href="#">Читать дальше &raquo;</a></footer>
        </div>
      </div>
      <figure>
        <ul class="nospace group overview">
          <li class="one_half"><a href="#"><img src="images/home/interior1.png" alt=""></a></li>
          <li class="one_half"><a href="#"><img src="images/home/interior2.png" alt=""></a></li>
          <li class="one_half"><a href="#"><img src="images/home/interior3.png" alt=""></a></li>
          <li class="one_half"><a href="#"><img src="images/home/interior4.png" alt=""></a></li>
          <li class="one_half"><a href="#"><img src="images/home/interior5.png" alt=""></a></li>
          <li class="one_half"><a href="#"><img src="images/home/interior6.png" alt=""></a></li>
        </ul>
      </figure>
    </article>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div id="image-viewer">
      <span class="close">&times;</span>
      <img class="modal-content" id="full-image">
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image:th:href='@{'/images/home/building.png'}';">
  <article class="hoc container clear center"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle" style="margin-bottom:30px;">
      <h6 class="heading">Пространства</h6>
      <p>Библиотека №64 всегда открыта для сотрудничества. Поэтому мы
        предоставляем наши пространства для ваших проектов: мастер-классов,
        выставок, презентаций и т.д. Мы сотрудничаем с физическими и
        юридическими лицами и предоставляем помещения для коворкинга
        (предоставление индивидуального платного рабочего места с выходом в
        сеть Интернет)</p>
    </div>
    <p><a class="btn medium" href="#">Подробнее</a></p>
    <!-- ################################################################################################ -->
  </article>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="group">
      <article class="one_third first"><a href="#"><img class="btmspace-30" src="images/home/spaces1.png" alt=""></a>
        <h6 class="nospace heading">Коворкинги</h6>
        <p>С недавнего времени в Библиотеке №64 работает коворкинг. Это для
          вас, если вы работает дома и хотите сменить локацию. Или хотите
          провести встречу в необычном месте.</p>
        <footer class="nospace"><a class="btn" href="#">Подробнее</a></footer>
      </article>
      <article class="one_third"><a href="#"><img class="btmspace-30" src="images/home/spaces2.png" alt=""></a>
        <h6 class="nospace heading">Конференц-зал</h6>
        <p>Отлично подойдет для семинаров, лекций, презентаций и мастер-классов.</p>
        <footer class="nospace"><a class="btn" href="#">Подробнее</a></footer>
      </article>
      <article class="one_third"><a href="#"><img class="btmspace-30" src="images/home/spaces3.png" alt=""></a>
        <h6 class="nospace heading">Детская комната</h6>
        <p>Пока вы на мероприятии, дети весело проводят время.</p>
        <footer class="nospace"><a class="btn" href="#">Подробнее</a></footer>
      </article>
    </div>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4">
  <footer th:replace="fragments/footer"></footer>
</div>
<div th:replace="fragments/copyright"></div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script th:src="@{layout/scripts/jquery.min.js}"></script>
<script th:src="@{layout/scripts/jquery.backtotop.js}"></script>
<script th:src="@{layout/scripts/jquery.mobilemenu.js}"></script>
<script th:src="@{layout/scripts/library.js}"></script>
</body>
</html>